*{
	margin: 0px;
	padding: 0px;
}

div#battlefield {
	width: 1000px;
	height: 800px;
}

div#player1_box{

		float: left;
		width: 480px;
	height: 800px;
	border:8px solid silver;
}

div#player2_box{
		float: right;
		width: 480px;
	height: 800px;
	border:8px solid silver;
}

div#player1 {
    position: absolute;
    top: 10px;
	left: 10px;
	border:2px solid black;
	border-radius:25px;
	background: blue;
	width: 75px;
	height: 75px;
	z-index: 2;
}
div#player1_cannon {
	background: silver;
	border:2px solid black;
	height: 75px;
	width: 20px;
	z-index: 3;
}
	  
div#player1_turret {
	background: black;
	height: 20px;
	width: 20px;
	margin: 26px 26px;
}

div#player1_laser {
	display: none;
	width: 19px;
	height: 19px;
	border:1px solid silver;
	background-color: blue;
	z-index: 0;
}

div#player2 {
    position: absolute;
    top: 720px;
	left: 910px;
	border:2px solid black;
	border-radius:25px;
	background: red;
	width: 75px;
	height: 75px;
	z-index: 2;
}
div#player2_cannon {
	background: silver;
	border:2px solid black;
	height: 75px;
	width: 20px;
	z-index: 3;
}
	  
div#player2_turret {
	background: black;
	height: 20px;
	width: 20px;
	margin: 26px 26px;
}

div#player2_laser {
	display: none;
	width: 19px;
	height: 19px;
	background-color: red;
	border:1px solid silver;
	z-index: 0;
}
